# <span style='background :beige'><span style='font-family:"Times New Roman"'>Q2. Determine the total outlay of the support required from Ministry of Finance?</span>

## <span style='background :paleturquoise'><span style='font-family:"Times New Roman"'>Importing Necessary Libraries</span>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
data=pd.DataFrame()
data['Activity Category']=['Micro Enterprises','Small Enterprises','Medium Enterprises']
data['Number of Business Units (in million)']=[63.05,0.33,0.005]
data

    Activity Category  Number of Business Units (in million)
0   Micro Enterprises                                 63.050
1   Small Enterprises                                  0.330
2  Medium Enterprises                                  0.005

## <span style='font-family:"Times New Roman"'>Estimated Number of MSMEs (Activity Wise)</span>

In [3]:
data1=pd.read_csv(r"Necessary_Files\msmecateg.csv")
cm = sns.light_palette("palegreen", as_cmap=True)
s = data1.style.background_gradient(cmap=cm)
s

## <span style='font-family:"Times New Roman"'>Distribution of Enterprises (Category Wise)</span>

In [4]:
data2=pd.read_csv(r"Necessary_Files\msmedist.csv")
cm = sns.light_palette("lightskyblue", as_cmap=True)
s1 = data2.style.background_gradient(cmap=cm)
s1

# <span style='background :wheat'><span style='font-family:"Times New Roman"'>Operating Costs â†” MSME Enterprises </span>

In [5]:
data8=pd.DataFrame()
data8['MSME Enterprise']=['Micro','Small','Medium']
data8['Per Month Operating Cost (lakh-crore)']=[2.8937,0.0765,0.0062]
cm = sns.light_palette("palegoldenrod", as_cmap=True)
s3 = data8.style.background_gradient(cmap=cm)
s3

## <span style='font-family:"Times New Roman"'>Total loan amount required for 1 month</span>

In [6]:
data8['Per Month Operating Cost (lakh-crore)'].sum()

2.9764

## <span style='background :paleturquoise'><span style='font-family:"Times New Roman"'>2.9764 Lakh Crores</span>