# <span style='background :beige'><span style='font-family:"Times New Roman"'>Q3. Determine the eligibility and the amount.</span>

## <span style='background :paleturquoise'><span style='font-family:"Times New Roman"'>Importing Necessary Libraries</span>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

## <span style='background :lemonchiffon'> <span style='font-family:"Times New Roman"'>In terms of Reliability</span>

In [2]:
data=pd.DataFrame()
data['Category']=['Manufacturing','Services']
data['Micro Enterprise']=[6,1]
data['Small Enterprise']=[5,2]
data['Medium Enterprise']=[4,3]
data

        Category  Micro Enterprise  Small Enterprise  Medium Enterprise
0  Manufacturing                 6                 5                  4
1       Services                 1                 2                  3

## <span style='background :lemonchiffon'> <span style='font-family:"Times New Roman"'>In terms of Need</span>

In [3]:
data1=pd.DataFrame()
data1['Category']=['Manufacturing','Services']
data1['Micro Enterprise']=[1,3]
data1['Small Enterprise']=[2,5]
data1['Medium Enterprise']=[4,6]
data1

        Category  Micro Enterprise  Small Enterprise  Medium Enterprise
0  Manufacturing                 1                 2                  4
1       Services                 3                 5                  6

![](Necessary_Files\rankmatrix.png)

## <span style='background :wheat'><span style='font-family:"blue"'>Terms of Loan</span>
### <span style='font-family:"blue"'>https://www.rbi.org.in/Scripts/Pr_DataRelease.aspx?SectionID=369&DateFilter=Year</span>

In [4]:
data2=pd.DataFrame()
data2['Conditions']=['Base Lending Rate','Tenure','Repayment Frequency']
data2['Public Sector Banks']=['9.35%','4 years','3 months']
data2['Private Sector Banks']=['10.81%','4 years','3 months']
data2['Scheduled Commercial Banks']=['9.88%','4 years','3 months']
data2

,Conditions,Public Sector Banks,Private Sector Banks,Scheduled Commercial Banks
0,Base Lending Rate,9.35%,10.81%,9.88%
1,Tenure,4 years,4 years,4 years
2,Repayment Frequency,3 months,3 months,3 months

## <span style='background :wheat'><span style='font-family:"blue"'>Simple Interest per Quarter</span>

In [5]:
p=int(input('Enter the loan amount: '))
print()
x1=(p*9.35*4)/100/4
x2=(p*10.81*4)/100/4
x3=(p*9.88*4)/100/4
x3=format(x3, '.2f')
data3=pd.DataFrame()
data3['']=['Simple Interest per Quarter']
data3['Public Sector Banks']=[str(x1)+' ₹']
data3['Private Sector Banks']=[str(x2)+' ₹']
data3['Scheduled Commercial Banks']=[str(x3)+' ₹']
data3

Enter the loan amount: 10000

,,Public Sector Banks,Private Sector Banks,Scheduled Commercial Banks
0,Simple Interest per Quarter,935.0 ₹,1081.0 ₹,988.00 ₹

## <span style='background :paleturquoise'><span style='font-family:"blue"'>Credit Scoring Model</span>

### <span style='font-family:"blue"'>CURRENT RATIO ↔ The current ratio is a liquidity ratio that measures a company's ability    to pay short-term obligations or those due within one year.</span>
### <span style='font-family:"blue"'>DEBT RATIO ↔ The debt ratio is a financial ratio that measures the extent of a company's leverage.</span>
### <span style='font-family:"blue"'>CASH RATIO ↔ The cash ratio is a measurement of a company's liquidity, specifically the ratio of a company's total cash and cash equivalents to its current liabilities.</span>

In [6]:
type_enterprise=input('Enter the type of Enterprise: ')
type_sector=input('Enter the type of sector: ')
current_ratio=float(input('Enter the current ratio of your enterprise: '))
debt_ratio=float(input('Enter the debt ratio of your enterprise: '))
cash_ratio=float(input('Enter the cash ratio of your enterprise: '))
credit_score=0.50*current_ratio + 0.3*debt_ratio + 0.2*cash_ratio
print("Your Credit Score Ratio: ",credit_score)

Enter the type of Enterprise: Micro
Enter the type of sector: Service
Enter the current ratio of your enterprise: 1.11
Enter the debt ratio of your enterprise: 0.9
Enter the cash ratio of your enterprise: 0.9
Your Credit Score Ratio:  1.0050000000000001

### <span style='background :palegreen'><span style='font-family:"blue"'>Extra Risk Premium Conditions based on Credit Score Ratio</span>

In [7]:
data4=pd.DataFrame()
data4['Conditions']=['credit score ratio > 1','1 > credit score ratio > 0.7','0.7 > credit score ratio']
data4['Public Sector Banks']=['9.35%','10.35%','11.35%']
data4['Private Sector Banks']=['10.81%','11.81%','12.81%']
data4['Scheduled Commercial Banks']=['9.88%','10.88%','11.88%']
data4

,Conditions,Public Sector Banks,Private Sector Banks,Scheduled Commercial Banks
0,credit score ratio > 1,9.35%,10.81%,9.88%
1,1 > credit score ratio > 0.7,10.35%,11.81%,10.88%
2,0.7 > credit score ratio,11.35%,12.81%,11.88%