# <span style='background :beige'><span style='font-family:"Times New Roman"'>Q1. Determine how much money is needed per unit size of business?</span>

## <span style='background :paleturquoise'><span style='font-family:"Times New Roman"'>Importing Necessary Libraries</span>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# <span style='background :wheat'><span style='font-family:"Times New Roman"'>MSME ↔ Micro Small Medium Enterprise</span> 
## https://msme.gov.in/sites/default/files/Annualrprt.pdf

## <span style='font-family:"Times New Roman"'>Estimated Number of MSMEs (Activity Wise)</span>

In [2]:
data1=pd.read_csv(r"Necessary_Files\msmecateg.csv")
cm = sns.light_palette("palegreen", as_cmap=True)
s = data1.style.background_gradient(cmap=cm)
s

## <span style='font-family:"Times New Roman"'>Distribution of Enterprises (Category Wise)</span>

In [3]:
data2=pd.read_csv(r"Necessary_Files\msmedist.csv")
cm = sns.light_palette("lightskyblue", as_cmap=True)
s1 = data2.style.background_gradient(cmap=cm)
s1

## <span style='font-family:"Times New Roman"'> Distribution of Employment in Rural and Urban Areas</span>

In [4]:
data3=pd.read_csv((r"Necessary_Files\msmeemploy.csv"))
cm = sns.light_palette("khaki", as_cmap=True)
s2 = data3.style.background_gradient(cmap=cm)
s2

## <span style='font-family:"Times New Roman"'>Key Statistics on MSMEs</span>

In [5]:
data4=pd.DataFrame()
data4['Key Metric']=['Total number of working MSME','Total employement','MSME contribution to GDP']
data4['Manufacturing']=['196.65 lakh','360.41 lakh','6.11%']
data4['Services']=['206.85 lakh','362.22 lakh','24.63%']
data4['Trading']=['230.35 lakh','387.18 lakh','6.26%']
data4

                     Key Metric Manufacturing     Services      Trading
0  Total number of working MSME   196.65 lakh  206.85 lakh  230.35 lakh
1             Total employement   360.41 lakh  362.22 lakh  387.18 lakh
2      MSME contribution to GDP         6.11%       24.63%        6.26%

## <span style='font-family:"Times New Roman"'>According to the census, the average turnover of micro-units is Rs 0.21 crore, Rs 4.19 crore for small businesses, and Rs 25.24 crore for medium enterprises.</span>

## <span style='background :palegreen'><span style='font-family:"Times New Roman"'>Micro Enterprises</span>

In [6]:
data5=pd.DataFrame()
data5['Operating Cost Factors']=['Staff Salary','Utility Cost (Electricity)','Statutory Cost','Other expenses']
data5['Total Count']=['1076.19 employee','1250 kWh per month','Average Revenue ↔ 21 lakhs','Phone Bills/Maintenance/Transport']
data5['Value']=[12000,'1250 x 8.33','Tax ↔ 5.25 lakhs',15000]
data5

,Operating Cost Factors,Total Count,Value
0,Staff Salary,1076.19 employee,12000
1,Utility Cost (Electricity),1250 kWh per month,1250 x 8.33
2,Statutory Cost,Average Revenue ↔ 21 lakhs,Tax ↔ 5.25 lakhs
3,Other expenses,Phone Bills/Maintenance/Transport,15000

In [7]:
(1076.19*12000 + 1250*8.33*630.52 + 5.25 + 15000*630.52)/(10**7)

2.893737475

## <span style='background :palegreen'><span style='font-family:"Times New Roman"'>Small Enterprises</span>

In [8]:
data6=pd.DataFrame()
data6['Operating Cost Factors']=['Staff Salary','Utility Cost (Electricity)','Statutory Cost','Other expenses']
data6['Total Count']=['31.95 lakhs employee','2084 kWh per month','Average Revenue ↔ 419 lakhs','Phone Bills/Maintenance/Transport']
data6['Value']=[18000,'2084 x 8.33','Tax ↔ 104.75 lakhs',50000]
data6

,Operating Cost Factors,Total Count,Value
0,Staff Salary,31.95 lakhs employee,18000
1,Utility Cost (Electricity),2084 kWh per month,2084 x 8.33
2,Statutory Cost,Average Revenue ↔ 419 lakhs,Tax ↔ 104.75 lakhs
3,Other expenses,Phone Bills/Maintenance/Transport,50000

In [9]:
(31.95*18000 + 2084*8.33*3.31 + 104.75 + 40000*3.31)/(10**7)

0.07650654232

## <span style='background :palegreen'><span style='font-family:"Times New Roman"'>Medium Enterprises</span>

In [10]:
data7=pd.DataFrame()
data7['Operating Cost Factors']=['Staff Salary','Utility Cost (Electricity)','Statutory Cost','Other expenses']
data7['Total Count']=['1.75 lakhs employee','4167 kWh per month','Average Revenue ↔ 2524 lakhs','Phone Bills/Maintenance/Transport']
data7['Value']=[30000,'4167 x 8.33','Tax ↔ 757.2 lakhs',150000]
data7

,Operating Cost Factors,Total Count,Value
0,Staff Salary,1.75 lakhs employee,30000
1,Utility Cost (Electricity),4167 kWh per month,4167 x 8.33
2,Statutory Cost,Average Revenue ↔ 2524 lakhs,Tax ↔ 757.2 lakhs
3,Other expenses,Phone Bills/Maintenance/Transport,150000

In [11]:
(1.75*30000 + 4167*8.33*0.05 + 757.2 +150000*0.05)/(10**7)

0.00624927555

# <span style='background :wheat'><span style='font-family:"Times New Roman"'>Operating Costs ↔ MSME Enterprises </span>

In [12]:
data8=pd.DataFrame()
data8['MSME Enterprise']=['Micro','Small','Medium']
data8['Per Month Operating Cost (lakh-crore)']=[2.8937,0.0765,0.0062]
cm = sns.light_palette("palegoldenrod", as_cmap=True)
s3 = data8.style.background_gradient(cmap=cm)
s3

In [13]:
data8['Per Month Operating Cost (lakh-crore)'].sum()

2.9764